<IfModule mod_rewrite.c>
    # Deny access to sensitive files
    RedirectMatch 403 /\.(?!well-known).*
    RedirectMatch 403 /composer\.(json|lock)$
    RedirectMatch 403 /package\.(json|lock)$
    RedirectMatch 403 /artisan$

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Pass Authorization Header natively
    CGIPassAuth On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the request is for a file/folder that exists in the root, serve it
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # If the request is for a file/folder that exists in the public directory, serve it
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond public/$1 -f [OR]
    RewriteCond public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Otherwise, send the request to the root index.php
    RewriteRule ^ index.php [L]
</IfModule>
